.App {
  text-align: center;
}

.App-header {
  background-color: #033076;
  min-height: 70px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.App-title {
  font-size: 2em;
}

.App-intro {
  font-size: large;
}

h4 {
  font-style: italic;
}

.formContainer{
  width: 480px;
  height: 160px;
  margin: auto;
  padding: 32px;
}

.nextBtn{
  float:right;
  margin-right: 64px;
}
.previousBtn{
  float:left;
  margin-left: 64px;
}